<section class="modal-change-status-catalog">
  <header class="header">
    <h3 class="title"> {{title}} </h3>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <div class="body">
    <div class="container">
      <mat-form-field>
        <mat-icon matPrefix>keyboard_arrow_down</mat-icon>
        <input readonly="true" matInput placeholder="Estado actual" [value]="statement">
      </mat-form-field>

      <form class="example-form" [formGroup]="statusForm" (keydown)="key($event)">
        <mat-form-field class="example-full-width">
          <mat-icon matPrefix>swap_horiz</mat-icon>
          <mat-select placeholder="Seleccionar nuevo estatus" [formControl]="statusForm.controls['status']">
            <mat-option *ngFor="let status of status" [value]="status">
              {{ status }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="statusForm.controls['status'].hasError('required')">
            Campo
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </div>

  <footer class="footer">
    <button mat-button (click)="onClose()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" [disabled]="!statusForm.valid" (click)="onSave()">
      Guardar
    </button>
  </footer>
</section>