<section class="billing-catalog">
  <header class="header">
    <h3 class="title">{{title}}</h3>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <section class="body">
    <div *ngFor="let t of taxes, i">
      <div class="row" style="font-size: 13px;">
        <div class="col-9" style="text-align:right;">
          <span>{{t.concept}}:</span>
        </div>
        <div class="col-3" style="text-align: right; padding-right: 40px">
          <ng-container *ngIf="t.red; else noRed">
            <span style="color: red">- {{t.amount | currency:'USD':true:'2.2-4'}}</span>
          </ng-container>
          <ng-template #noRed>
            <span>{{t.amount | currency:'USD':true:'2.2-4'}}</span>
          </ng-template>
        </div>
      </div>
      <div class="col-12"><hr></div>
    </div>
  </section>
  <footer class="footer">
    <button mat-button (click)="onClose()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" (click)="onSave()">
      Aceptar
    </button>
  </footer>
</section>