.recover {
    $bd-divider: 1px solid #ccc;
    
    width: 500px;

    .header,
    .body,
    .footer {
        padding: 16px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        border-bottom: $bd-divider;
        background-color: #474EB2;
        // background: #667db6;  /* fallback for old browsers */
        // background: -webkit-linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
        // background: linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        .mat-icon {
            align-self: flex-end;
        }

        .title {
            margin-top: 10px;
            font-size: 25px;
            font-weight: bold;
            line-height: 22px;
            color: #ffffff;
        }
    }

    .body {
        box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2);
        background: #ECE9E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        .mat-input-container {
            width: 100%;
        }

        .row:last-child {
            margin-top: 8px;
        }

        .file-picker {

            .file-btn {
                position: relative;
                display: inline-block;
                overflow: hidden;
                padding: 8px 16px;
                border-radius: 4px;
                border: 1px solid #ccc;

                .picker {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                }
            }

            .filename {
                display: block;
                color: #444;
            }
        }
    }

    .footer {
        margin-top: 16px;
        text-align: right;
        border-top: $bd-divider;
        
        box-shadow: 0 5px 20px 0 rgba(0,0,0,0.2);
        background: #ECE9E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
}

.ok {
    border-left: 4px solid #57b846; //#488aff
}

.err {
    border-left: 4px solid #f53d3d
}
.text-justify {
    text-align: justify;
}

:host ::ng-deep {
    mat-form-field {
        .mat-form-field-prefix {
            margin-right: 8px;
        }

        .mat-icon {
            color: #666;
        }
    }
    .text-center {
        text-align: center;
    }

         
      .example-header-image {
        // background-image: url('../../../../assets/imgs/mask.png');
        background-size: cover;
      }
}