<section class="recover">
  <header class="header">
    <h4 class="title">Recuperar Contraseña</h4>
    <button mat-icon-button (click)="onClose()">
      <mat-icon style="color: #ffffff;">close</mat-icon>
    </button>
  </header>
  <section class="body">
    <form [formGroup]="recoverForm">
      <div class="row">
        <div class="col-12">
          <h3 class="text-center">MiConta</h3>
          <p class="text-center">Te enviaremos un mail para recuperar tu
            <strong>contraseña.</strong>
          </p>
          <mat-form-field>
            <mat-icon matPrefix>email</mat-icon>
            <input matInput [(ngModel)]="email" [formControl]="recoverForm.controls['email']" placeholder="Escribe tu email">
            <mat-error *ngIf="recoverForm.controls['email'].hasError('required')">
              Campo
              <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="recoverForm.controls['email'].hasError('pattern') && recoverForm.controls['email'].touched">
              Email
              <strong>inválido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
    <!-- [ngClass]="message.status ? 'ok' : 'err'" -->
    <mat-card [ngClass]="{'ok' : messages.status, 'err': !messages.status}" *ngIf="messages.body">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>
          <h3>{{messages.title}}</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h5 class="text-justify">{{messages.body}}
          <strong>{{email}}</strong>
        </h5>
      </mat-card-content>
    </mat-card>
  </section>
  <footer class="footer">
    <button mat-button color="warn" (click)="onClose()">
      Cerrar
    </button>
    <button mat-raised-button color="primary" [disabled]="!recoverForm.valid" (click)="onSave()" *ngIf="!messages.status">
      Enviar mail
    </button>
  </footer>
</section>