<section class="billing-catalog">
  <header class="header">
    <h3 class="title float-left">{{ title }}</h3>
    <button mat-icon-button (click)="onClose($event)">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <section class="body">
    <form [formGroup]="billForm">
      <!--(keydown)="key($event)"-->
      <div class="container">
        <!-- <div class="row">
          <div class="col-7">
            <mat-slide-toggle (change)="toggle($event)" [disabled]="false" [checked]="bill.cobrada_pagada" [(ngModel)]="bill.cobrada_pagada"
              [formControl]="billForm.controls['status']">
              {{ ingresos ? 'Pagada' : 'Cobrada' }}
            </mat-slide-toggle>
            <mat-slide-toggle [disabled]="false" [checked]="bill.general_public" [(ngModel)]="bill.general_public">
              Público en General
            </mat-slide-toggle>
          </div>
          <div class="col-5">
            <mat-form-field>
              <mat-icon matPrefix>today</mat-icon>
              <input [readonly]="true" matInput placeholder="Fecha" [value]="moment(bill.createdDate).format('L')">
            </mat-form-field>
          </div>
        </div> -->
        <mat-card class="bg-card1">
          <mat-card-header>
            <mat-card-title>
              <strong *ngIf="ingresos">Cliente</strong>
              <strong *ngIf="!ingresos">Proveedor</strong>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-12">
                <mat-form-field>
                  <mat-icon matPrefix>person</mat-icon>
                  <input matInput placeholder="{{ ingresos ? 'Cliente' : 'Proveedor'}}" [(ngModel)]="bill.customer_provider.name" [formControl]="billForm.controls['name']">
                  <mat-error *ngIf="billForm.controls['name'].hasError('required')">
                    Campo
                    <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <mat-form-field>
                  <mat-icon matPrefix>work</mat-icon>
                  <input (keyup)="matchRFC($event)" required matInput placeholder="RFC" [(ngModel)]="bill.customer_provider.rfc" [formControl]="billForm.controls['rfc']">
                  <mat-error *ngIf="billForm.controls['rfc'].hasError('required')">
                    Campo
                    <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-5" *ngIf="ingresos">
                <br>
                <mat-slide-toggle class="float-right" [disabled]="false" [checked]="bill.general_public" [(ngModel)]="bill.general_public"
                  [formControl]="billForm.controls['general_public']">
                  Público en General
                </mat-slide-toggle>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <mat-form-field>
                  <mat-icon matPrefix>phone</mat-icon>
                  <input type="tel" required matInput placeholder="Teléfono" [(ngModel)]="bill.customer_provider.phone" [formControl]="billForm.controls['phone']">
                  <mat-error *ngIf="billForm.controls['phone'].hasError('required')">
                    Campo
                    <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field>
                  <mat-icon matPrefix>mail</mat-icon>
                  <input matInput required placeholder="Correo electrónico" [(ngModel)]="bill.customer_provider.email" [formControl]="billForm.controls['email']">
                  <mat-error *ngIf="billForm.controls['email'].hasError('required')">
                    Campo
                    <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field>
                  <mat-icon matPrefix>payment</mat-icon>
                  <mat-select placeholder="Método de pago" [formControl]="billForm.controls['payMethod']" [(ngModel)]="currentPayMethod">
                    <mat-option *ngFor="let m of allMethods" [value]="m.key">
                      {{ m.method }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="billForm.controls['payMethod'].hasError('required')">
                    Campos
                    <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field>
                  <input [(ngModel)]="bill.createdDate" matInput [matDatepicker]="picker" placeholder="Fecha de emisión" [formControl]="billForm.controls['createdDate']">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <br>
        <mat-card class="bg-card1">
          <mat-card-header>
            <mat-card-title>
              <strong>Domicilio</strong>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-9">
                <mat-form-field>
                  <mat-icon matPrefix>location_on</mat-icon>
                  <input matInput required placeholder="Calle" [(ngModel)]="bill.customer_provider.address.street" [formControl]="billForm.controls['street']">
                  <mat-error *ngIf="billForm.controls['street'].hasError('required')">
                    Campo
                    <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field>
                  <mat-icon matPrefix>streetview</mat-icon>
                  <input required matInput type="number" placeholder="Número" [(ngModel)]="bill.customer_provider.address.number" [formControl]="billForm.controls['number']">
                  <mat-error *ngIf="billForm.controls['number'].hasError('required')">
                    Campo
                    <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-9">
                <mat-form-field>
                  <mat-icon matPrefix>location_on</mat-icon>
                  <input required matInput placeholder="Colonia" [(ngModel)]="bill.customer_provider.address.neighborhood" [formControl]="billForm.controls['neighborhood']">
                  <mat-error *ngIf="billForm.controls['neighborhood'].hasError('required')">
                    Campo
                    <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field>
                  <mat-icon matPrefix>streetview</mat-icon>
                  <input type="text" required minlength="5" maxlength="5" matInput placeholder="CP" [(ngModel)]="bill.customer_provider.address.zipcode"
                    [formControl]="billForm.controls['zipcode']">
                  <mat-error *ngIf="billForm.controls['zipcode'].hasError('required')">
                    Campo
                    <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6">
                <mat-form-field>
                  <mat-icon matPrefix>location_on</mat-icon>
                  <input required matInput placeholder="Ciudad" [(ngModel)]="bill.customer_provider.address.city" [formControl]="billForm.controls['city']">
                  <mat-error *ngIf="billForm.controls['city'].hasError('required')">
                    Campo
                    <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-md-6">
                <mat-form-field>
                  <mat-icon matPrefix>location_on</mat-icon>
                  <input matInput placeholder="Municipio" [(ngModel)]="bill.customer_provider.address.municipality" [formControl]="billForm.controls['municipality']">
                  <mat-error *ngIf="billForm.controls['municipality'].hasError('required')">
                    Campo
                    <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <mat-form-field>
                  <mat-icon matPrefix>location_on</mat-icon>
                  <input type="text" required placeholder="Estado" matInput [formControl]="billForm.controls['state']" [matAutocomplete]="state"
                    [(ngModel)]="currentState">
                  <mat-autocomplete #state="matAutocomplete" [displayWith]="displayFnState">
                    <mat-option *ngFor="let option of filteredStates | async" [value]="option">
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="billForm.controls['state'].hasError('required')">
                    Campo
                    <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </form>
    <br>
    <rt-datatable searchWait="600" (selected)="onSelected($event)" [showRowNumber]="true" [headers]="headers" [action]="action"
      [data]="bill.products">
      <section class="actions">
        <button mat-icon-button (click)="onCreate($event)">
          <mat-icon matTooltip="Nuevo" matTooltipPosition="above">add</mat-icon>
        </button>
        <ng-container *ngIf="selectedItem">
          <button mat-icon-button (click)="onDelete($event)">
            <mat-icon matTooltip="Eliminar" matTooltipPosition="above">delete</mat-icon>
          </button>
        </ng-container>
      </section>
    </rt-datatable>
    <div>
      <div class="row" style="text-align: right; padding-top: 10px">
        <div class="col-9">
          Subtotal:
        </div>
        <div class="col-3">{{bill.subtotal | currency:'USD':'symbol':'2.2-4'}}</div>
      </div>
      <hr>
      <div class="row" style="text-align: right;">
        <div class="col-9">
          IVA:
          <br>
          <mat-slide-toggle (change)="tasaToggle($event)" [(ngModel)]="statustasa">Tasa 16%</mat-slide-toggle>
        </div>
        <div class="col-3">{{bill.taxes | currency:'USD':'symbol':'2.2-4'}}</div>
      </div>
      <hr>
      <div class="row" style="text-align: right;">
        <div class="col-9">
          <span class="float-left">
            <mat-slide-toggle (change)="toggle($event)" [disabled]="false" [checked]="bill.cobrada_pagada" [(ngModel)]="bill.cobrada_pagada"
              [formControl]="billForm.controls['status']">
              {{ ingresos ? 'Cobrada' : 'Pagada' }}
            </mat-slide-toggle>
          </span>
          <strong class="float-right">Total:</strong>
        </div>
        <div class="col-3">
          <strong>{{bill.total | currency:'USD':'symbol':'2.2-4'}}</strong>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <button mat-button (click)="onClose($event)">
      Cancelar
    </button>
    <button mat-raised-button color="primary" [disabled]="!billForm.valid" (click)="onSave($event)">
      Aceptar
    </button>
  </footer>
</section>