<section class="billing-catalog">
  <header class="header">
    <h3 class="title">Bitácora: {{nameTaxpayer}}</h3>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <section class="body">
    <div style="width: 50%; margin: 0 auto; justify-content: center">
        <span class="jessi-color float-left" style="font-size: 1.2em">Total:</span>
        <strong class="jessi-color float-right" style="font-size: 1.2em">{{total | currency:'USD':'symbol':'2.2-4'}}</strong>
    </div>
    <br><br>
    <!--<hr>
    <div *ngFor="let b of bitacoras">
      <p>
        <span class="float-left">{{b.payMethod.method}}</span>
        <strong class="float-right">{{b.total | currency:'USD':'symbol':'2.2-4'}}</strong>
        <br> {{moment(b.date).format('LL')}}
      </p>
      <hr>
    </div> -->
    <rt-datatable
      searchWait="600"
      [showRowNumber]="true"
      [headers]="headers"
      [action]="action"
      [data]="bitacoras">
      <section class="actions">
      </section>
    </rt-datatable>
  </section>
  <footer class="footer">
    <button mat-button (click)="onClose()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" (click)="onSave()">
      Aceptar
    </button>
  </footer>
</section>