<ul class="breadcrumb">
  <li *ngIf="roleUp === 'superadmin'">
    <a routerLink="/superadmin/inicio" routerLinkActive="active">Superadmin</a>
  </li>
  <li *ngIf="roleUp === 'superadmin' || roleUp === 'despacho'">
    <a [routerLink]="['/despacho/inicio']" [queryParams]="{ _id: office }" (click)="updateUsers(); updateUsers()" routerLinkActive="active">Despacho</a>
  </li>
  <li *ngIf="roleUp === 'contador' || roleUp === 'despacho' || roleUp === 'superadmin'">
    <a [routerLink]="['/contador/inicio']" [queryParams]="{ _id: accountant, office: office }" (click)="updateUsers();" routerLinkActive="active">Contador</a>
  </li>
  <li class="selected" *ngIf="roleUp === 'contador' || roleUp === 'despacho' || roleUp === 'superadmin'">
    <span class="accent">Contribuyente</span>
  </li>
  <!-- this is when only the contribuyente get access-->
  <li *ngIf="roleUp === 'contribuyente'">
    <a routerLink="/contribuyente/inicio" routerLinkActive="active">Inicio</a>
  </li>
  <li class="selected" *ngIf="roleUp === 'contribuyente'">Resumen</li>
</ul>
<div class="row">
  <div class="col-4">
    <h2>{{currentBimester}}</h2>
  </div>
  <div class="col-3">
    <mat-form-field>
      <mat-select placeholder="Seleccionar Año" [(ngModel)]="selectedYear">
        <mat-option *ngFor="let y of years" [value]="y">
          {{ y }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field>
      <mat-select placeholder="Seleccionar Bimestre" [(ngModel)]="selectedBimester">
        <mat-option *ngFor="let b of bimesters" [value]="b.name">
          {{ b.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-2">
    <button mat-raised-button color="primary" (click)="getBimesterInfo()">Consultar</button>
  </div>
</div>
<hr>
<ng-container *ngIf="users">
  <div style="color:#1565C0; font-size: 1em" *ngFor="let u of users">
    <strong>{{u.role}}:
      <span class="accent">{{ u.name }}</span>
    </strong>
  </div>
  <hr>
  <br>
</ng-container>
<div class="row">
  <div class="col-6">
    <mat-card class="example-card">
      <h5 class="text-center">MIS IMPUESTOS</h5>
      <mat-card-header>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-6">
            <h3 style="color: #444">IVA:</h3>
            <h3 style="color: #444">ISR:</h3>
            <hr>
            <br>
            <h1 style="color: #444">Total:</h1>
          </div>
          <div class="col-6">
            <h3 class="text-center font-normal">{{716873 | currency:'USD':true:'2.2-4'}}</h3>
            <h3 class="text-center font-normal">{{895733 | currency:'USD':true:'2.2-4'}}</h3>
            <hr>
            <br>
            <h2 class="text-center font-normal">{{1612606 | currency:'USD':true:'2.2-4'}}</h2>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card class="example-card">
      <h5 class="text-center">DESCARGAR ARCHIVOS</h5>
      <mat-card-header>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-6">
            <a href="#" target="_blank" class="no-style">
              <mat-icon class="big-icon">picture_as_pdf</mat-icon>
              <br>
              <span class="text-center">ACUSE</span>
            </a>
          </div>
          <div class="col-6">
            <a href="#" target="_blank" class="no-style">
              <mat-icon class="big-icon">picture_as_pdf</mat-icon>
              <br>
              <span class="text-center">LINE DE CAPTURA</span>
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="home-icon">assignment_returned</mat-icon>
            <h3 class="panel-expandable-title">Mis Ingresos</h3>
          </mat-panel-title>
          <mat-panel-description>
            <h3>{{13026 | currency:'USD':true:'2.2-4'}}</h3>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <rt-datatable (selected)="onIngresosSelected($event)" (checked)="onIngresosChecked($event)" [showRowNumber]="true" searchWait="600"
          [showRowNumber]="false" [headers]="headersIngresos" [action]="actionIngresos" [data]="dataIngresos">
          <section class="actions">
            <ng-container *ngIf="selectedIngresos">
              <button mat-icon-button (click)="onViewBillIngresos($event)">
                <mat-icon matTooltip="Ver detalles" matTooltipPosition="above">visibility</mat-icon>
              </button>
              <button mat-icon-button (click)="onDownloadPDF($event)">
                <mat-icon matTooltip="Descargar PDF" matTooltipPosition="above">picture_as_pdf</mat-icon>
              </button>
              <button mat-icon-button (click)="onDownloadXMLIngresos($event)">
                <mat-icon matTooltip="Descargar XML" matTooltipPosition="above">code</mat-icon>
              </button>
            </ng-container>
            <span *ngIf="contribuyente">
              <span class="separator" *ngIf="selectedIngresos"></span>
              <button *ngIf="contribuyente" mat-icon-button (click)="onManualBillIngresos($event)">
                <mat-icon matTooltip="Factura Manual" matTooltipPosition="above">add</mat-icon>
              </button>
              <span *ngIf="selectedIngresos">
                <button *ngIf="selectedIngresos.type.toUpperCase() === 'MANUAL'" mat-icon-button (click)="onDeleteStatement($event)">
                  <mat-icon matTooltip="Eliminar declaración" matTooltipPosition="above">delete</mat-icon>
                </button>
              </span>
              <button mat-icon-button (click)="onCheckAllIngresos($event)" *ngIf="!allIngresosChecked">
                <mat-icon matTooltip="Seleccionar" matTooltipPosition="above">check_box_outline_blank</mat-icon>
              </button>
              <button mat-icon-button (click)="onCheckAllIngresos($event)" *ngIf="allIngresosChecked">
                <mat-icon matTooltip="Seleccionar" matTooltipPosition="above">check_box</mat-icon>
              </button>
            </span>
          </section>
        </rt-datatable>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="home-icon">assignment_return</mat-icon>
            <h3 class="panel-expandable-title">Mis Egresos</h3>
          </mat-panel-title>
          <mat-panel-description>
            <h3>{{11774 | currency:'USD':true:'2.2-4'}}</h3>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <rt-datatable (selected)="onEgresosSelected($event)" (checked)="onEgresosChecked($event)" searchWait="600" [showRowNumber]="false"
          [headers]="headersEgresos" [action]="actionEgresos" [data]="dataEgresos">
          <section class="actions">
            <ng-container *ngIf="selectedEgresos">
              <button mat-icon-button (click)="onViewBillEgresos($event)">
                <mat-icon matTooltip="Ver detalles" matTooltipPosition="above">visibility</mat-icon>
              </button>
              <button mat-icon-button (click)="onDownloadPDF($event)">
                <mat-icon matTooltip="Descargar PDF" matTooltipPosition="above">picture_as_pdf</mat-icon>
              </button>
              <button mat-icon-button (click)="onDownloadXMLEgresos($event)">
                <mat-icon matTooltip="Descargar XML" matTooltipPosition="above">code</mat-icon>
              </button>
            </ng-container>
            <span *ngIf="contribuyente">
              <span class="separator" *ngIf="selectedEgresos"></span>
              <button mat-icon-button (click)="onManualBillEgresos($event)">
                <mat-icon matTooltip="Factura Manual" matTooltipPosition="above">add</mat-icon>
              </button>
              <span *ngIf="selectedEgresos">
                <button *ngIf="selectedEgresos.type.toUpperCase() === 'MANUAL'" mat-icon-button (click)="onDeleteStatement($event)">
                  <mat-icon matTooltip="Eliminar declaración" matTooltipPosition="above">delete</mat-icon>
                </button>
              </span>
              <button mat-icon-button (click)="onCheckAllEgresos($event)" *ngIf="!allEgresosChecked">
                <mat-icon matTooltip="Seleccionar" matTooltipPosition="above">check_box_outline_blank</mat-icon>
              </button>
              <button mat-icon-button (click)="onCheckAllEgresos($event)" *ngIf="allEgresosChecked">
                <mat-icon matTooltip="Seleccionar" matTooltipPosition="above">check_box</mat-icon>
              </button>
            </span>
          </section>
        </rt-datatable>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>