<ul class="breadcrumb">
  <li *ngIf="roleUp === 'superadmin'">
    <a routerLink="/superadmin/inicio" routerLinkActive="active">Superadmin</a>
  </li>
  <li *ngIf="roleUp === 'superadmin' || roleUp === 'despacho'">
    <a [routerLink]="['/despacho/inicio']" [queryParams]="{ _id: office }" (click)="updateUsers(); updateUsers()" routerLinkActive="active">Despacho</a>
  </li>
  <li *ngIf="roleUp === 'contador' || roleUp === 'despacho' || roleUp === 'superadmin'">
    <a [routerLink]="['/contador/inicio']" [queryParams]="{ _id: accountant, office: office }" (click)="updateUsers();" routerLinkActive="active">Contador</a>
  </li>
  <li class="selected" *ngIf="roleUp === 'contador' || roleUp === 'despacho' || roleUp === 'superadmin'">
    <span class="accent">Contribuyente</span>
  </li>
  <!-- this is when only the contribuyente get access-->
  <li *ngIf="roleUp === 'contribuyente'">
    <a routerLink="/contribuyente/inicio" routerLinkActive="active">Inicio</a>
  </li>
  <li class="selected" *ngIf="roleUp === 'contribuyente'">Resumen</li>
</ul>
<div class="row">
  <div class="col-6">
    <h2>{{currentBimester}}</h2>
  </div>
  <div class="col-3">
    <mat-form-field>
      <mat-select placeholder="Seleccionar Año" [(ngModel)]="selectedYear" (ngModelChange)="getBimesterInfo($event)">
        <mat-option *ngFor="let y of years" [value]="y">
          {{ y }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field>
      <mat-select placeholder="Seleccionar Bimestre" [(ngModel)]="selectedBimester" (ngModelChange)="getBimesterInfo($event)">
        <mat-option *ngFor="let b of bimesters" [value]="b">
          {{ b.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- <div class="col-2">
    <button mat-raised-button color="primary" (click)="getBimesterInfo()">Consultar</button>
  </div> -->
</div>
<hr>
<ng-container *ngIf="users">
  <div style="color:#1565C0; font-size: 1em" *ngFor="let u of users">
    <strong>{{u.role}}:
      <span class="accent">{{ u.name }}</span>
    </strong>
  </div>
  <hr *ngIf="roleUp !== 'contribuyente'">
  <br>
  <div class="row">
    <div class="col-12">
      <mat-progress-bar style="margin-bottom: 10px; height: 12px" color="primary" mode="determinate" [value]="((ingresosCobrados * 100) / 2000000)"></mat-progress-bar>
      <label class="float-right">{{ingresosCobrados | currency:'USD':'symbol':'2.2-4'}} / {{2000000 | currency:'USD':'symbol':'2.2-4'}}</label>
    </div>
  </div>
  <br>
</ng-container>
<div class="row">
  <div class="col-6">
    <mat-card class="example-card">
      <h5 class="text-center">MIS IMPUESTOS</h5>
      <mat-card-header>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-4">
            <h3 style="color: #444">IVA:</h3>
          </div>
          <div class="col-8 text-right">
            <h3 class="float-right font-normal">
              <span>
                <!-- *ngIf="IVA.ivaCargo !== 0" -->
                {{IVA.ivaCargo | currency:'USD':'symbol':'2.2-4'}}
              </span>
              <button mat-icon-button (click)="onIVA($event)">
                <mat-icon>more_horiz</mat-icon>
              </button>
            </h3>
          </div>
          <div class="col-4">
            <h3 style="color: #444">ISR:</h3>
          </div>
          <div class="col-8">
            <h3 class="float-right font-normal">{{ISR.isrNetoAPagar | currency:'USD':'symbol':'2.2-4'}}
              <button mat-icon-button (click)="onISR($event)">
                <mat-icon>more_horiz</mat-icon>
              </button>
            </h3>
            <hr class="float-right">
          </div>
          <div class="col-4"></div>
          <div class="col-8">
            <hr>
          </div>
          <div class="col-4">
            <h1 style="color: #444">Total:</h1>
          </div>
          <div class="col-8">
            <h2 class="float-right font-normal">{{totalTax | currency:'USD':'symbol':'2.2-4'}}</h2>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card class="example-card">
      <h5 class="text-center">DESCARGAR ARCHIVOS</h5>

      <mat-card-content>
        <div class="row">
          <div class="col-5 text-center">
            <a href="#" target="_blank" class="no-style">
              <mat-icon class="big-icon ext-center">file_download</mat-icon>
              <br>
              <mat-chip class="text-center">ACUSE</mat-chip>
            </a>
          </div>
          <div class="col-7 text-center">
            <a href="#" target="_blank" class="no-style">
              <mat-icon class="big-icon ext-center">file_download</mat-icon>
              <br>
              <mat-chip class="text-center">LINEA DE CAPTURA</mat-chip>
            </a>
          </div>
          <div class="col-12 text-center">
            <br>
            <br>
            <!-- habilitar button cuando los archivos existan -->
            <ng-container *ngIf="roleUp !== 'contribuyente'; else contrib">
              <ng-container *ngIf="periodActive; else noActive">                
                <button mat-raised-button [color]="buttonPeriod.color" (click)="closePeriod()">{{buttonPeriod.text}}</button>
              </ng-container>
              <ng-template #noActive>                
                <button mat-raised-button [color]="buttonPeriod.color" (click)="showPeriod()">{{buttonPeriod.text}}</button>
              </ng-template>
            </ng-container>
            <ng-template #contrib>
                <button *ngIf="!periodActive" mat-raised-button [color]="buttonPeriod.color" (click)="showPeriod()">{{buttonPeriod.text}}</button>
                <mat-chip *ngIf="periodActive" color="accent" selected="true"><strong>INFORMACIÓN DEL PERIODO NO DISPONIBLE</strong></mat-chip>
            </ng-template>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel>
        <mat-expansion-panel-header style="padding-top:5px; padding-bottom: 5px">
          <mat-panel-title>
            <mat-icon class="home-icon">assignment_returned</mat-icon>
            <h3 class="panel-expandable-title">Mis Ingresos</h3>
            <mat-chip class="chip" color="primary" selected="true">
              <strong>Sin IVA</strong>
            </mat-chip>
          </mat-panel-title>
          <mat-panel-description>
            <h5>
              <span>Subtotal: </span> {{ sumIngresos | currency:'USD':'symbol':'2.2-4'}}</h5>
            <h5>
              <span>Cobrados:</span> {{ ingresosCobrados | currency:'USD':'symbol':'2.2-4'}}</h5>
            <h5>
              <span>Por cobrar: </span> {{ ingresosPorCobrar | currency:'USD':'symbol':'2.2-4'}}</h5>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-8"></div>
          <div class="col-3">
            <label>
              <strong>Subtotal tasa(16%):</strong> {{ingresosIVA16 | currency:'USD':'symbol':'2.2-4'}}</label>
          </div>
        </div>
        <rt-datatable (selected)="onIngresosSelected($event)" (checked)="onIngresosChecked($event)" (toggleFec)="onToggleFec($event)"
          searchWait="600" [showRowNumber]="false" [headers]="headersIngresos" [action]="actionIngresos" [data]="dataIngresos"
          (toggleGeneralPublic)="changeToGeneralPublic($event)"  [disableToggle]="!periodActive">
          <section class="actions">
            <ng-container *ngIf="selectedIngresos">
              <button mat-icon-button (click)="onViewBillIngresos($event)">
                <mat-icon matTooltip="Ver detalles" matTooltipPosition="above">visibility</mat-icon>
              </button>
              <button mat-icon-button (click)="onDownloadPDF($event)">
                <mat-icon matTooltip="Descargar PDF" matTooltipPosition="above">picture_as_pdf</mat-icon>
              </button>
              <button mat-icon-button (click)="onDownloadXMLIngresos($event)">
                <mat-icon matTooltip="Descargar XML" matTooltipPosition="above">code</mat-icon>
              </button>
            </ng-container>
            <span *ngIf="contribuyente">
              <span class="separator" *ngIf="selectedIngresos"></span>
              <button *ngIf="contribuyente && periodActive" mat-icon-button (click)="onManualBillIngresos($event)">
                <mat-icon matTooltip="Factura Manual" matTooltipPosition="above">add</mat-icon>
              </button>
              <span *ngIf="selectedIngresos">
                <button *ngIf="selectedIngresos.captureMode === 'Manual' && periodActive" mat-icon-button (click)="onDeleteStatementIngresos($event)">
                  <mat-icon matTooltip="Eliminar declaración" matTooltipPosition="above">delete</mat-icon>
                </button>
              </span>
              <button mat-icon-button (click)="onCheckAllIngresos($event)" *ngIf="!allIngresosChecked">
                <mat-icon matTooltip="Seleccionar" matTooltipPosition="above">check_box_outline_blank</mat-icon>
              </button>
              <button mat-icon-button (click)="onCheckAllIngresos($event)" *ngIf="allIngresosChecked">
                <mat-icon matTooltip="Seleccionar" matTooltipPosition="above">check_box</mat-icon>
              </button>
            </span>
          </section>
        </rt-datatable>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header style="padding-top:5px; padding-bottom: 5px">
          <mat-panel-title>
            <mat-icon style="margin-top: 7px" class="home-icon">assignment_return</mat-icon>
            <h3 class="panel-expandable-title">Mis Egresos</h3>
            <mat-chip class="chip" style="margin-left: 20px" color="primary" selected="true">
              <strong>Sin IVA</strong>
            </mat-chip>
          </mat-panel-title>
          <mat-panel-description>
            <h5>
              <span>Subtotal: </span> {{sumEgresos | currency:'USD':'symbol':'2.2-4'}}</h5>
            <h5>
              <span>Pagados: </span> {{ egresosPagados | currency:'USD':'symbol':'2.2-4'}}</h5>
            <h5>
              <span>Por pagar: </span> {{ egresosPorPagar | currency:'USD':'symbol':'2.2-4'}}</h5>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-8"></div>
          <div class="col-3">
            <label>
              <strong>Subtotal tasa(16%):</strong> {{egresosIVA16 | currency:'USD':'symbol':'2.2-4'}}</label>
          </div>
        </div>
        <rt-datatable (selected)="onEgresosSelected($event)" (checked)="onEgresosChecked($event)" (toggleDeducible)="toggleDeducible($event)"
          (toggleFec)="onToggleFec($event)" [disableToggle]="!periodActive" searchWait="600" [showRowNumber]="false" [headers]="headersEgresos" [action]="actionEgresos"
          [data]="dataEgresos">
          <section class="actions">
            <ng-container *ngIf="selectedEgresos">
              <button mat-icon-button (click)="onViewBillEgresos($event)">
                <mat-icon matTooltip="Ver detalles" matTooltipPosition="above">visibility</mat-icon>
              </button>
              <button mat-icon-button (click)="onDownloadPDF($event)">
                <mat-icon matTooltip="Descargar PDF" matTooltipPosition="above">picture_as_pdf</mat-icon>
              </button>
              <button mat-icon-button (click)="onDownloadXMLEgresos($event)">
                <mat-icon matTooltip="Descargar XML" matTooltipPosition="above">code</mat-icon>
              </button>
            </ng-container>
            <span *ngIf="contribuyente ">
              <span class="separator" *ngIf="selectedEgresos"></span>
              <button mat-icon-button (click)="onManualBillEgresos($event)" *ngIf="periodActive">
                <mat-icon matTooltip="Factura Manual" matTooltipPosition="above">add</mat-icon>
              </button>
              <span *ngIf="selectedEgresos">
                <button *ngIf="selectedEgresos.captureMode === 'Manual' && periodActive" mat-icon-button (click)="onDeleteStatementEgresos($event)">
                  <mat-icon matTooltip="Eliminar declaración" matTooltipPosition="above">delete</mat-icon>
                </button>
              </span>
              <button mat-icon-button (click)="onCheckAllEgresos($event)" *ngIf="!allEgresosChecked">
                <mat-icon matTooltip="Seleccionar" matTooltipPosition="above">check_box_outline_blank</mat-icon>
              </button>
              <button mat-icon-button (click)="onCheckAllEgresos($event)" *ngIf="allEgresosChecked">
                <mat-icon matTooltip="Seleccionar" matTooltipPosition="above">check_box</mat-icon>
              </button>
            </span>
          </section>
        </rt-datatable>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>