.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-card {
    height: 250px;
    margin-bottom: 10px;
}

.chip {
    white-space: nowrap;
    margin-left: 15px;
    height: 15px;
    text-align: center;
}

.file-picker {

    .file-btn {
        position: relative;
        display: inline-block;
        overflow: hidden;
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid #ccc;

        .picker {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
        }
    }

    .filename {
        display: block;
        color: #444;
    }
}

.panel-expandable-title{
    padding-left: 16px;
    color: #444;
    white-space: nowrap;
}

:host ::ng-deep {

    mat-icon{
        color: #666;
        padding-bottom: 0;
        width: auto;
    }
    mat-form-field {
        width: 100%;
        .mat-form-field-prefix {
            margin-right: 8px;
        }

        .mat-icon {
            color: #666;
        }
    }

    mat-expansion-panel {
        // .mat-exp-field-prefix {
        //     margin-right: 8px;
        // }

        
        .mat-expansion-panel-header-title {
            color: #444;
        }

        .mat-icon {
            color: #666;
        }
    }
}
.no-style{
    text-decoration: none;
    color: inherit;
}

.no-padding {
    padding: 0 !important;
}