<ul class="breadcrumb">
  <li>
    <a routerLink="/" routerLinkActive="active">Inicio</a>
  </li>
  <li>Mi Perfil</li>
  <li class="selected">Mis Datos</li>
</ul>

<div class="row">
  <div class="col-12 col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <strong>General</strong>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>person</mat-icon>
              <input required [readonly]="false" matInput placeholder="Nombre" [(ngModel)]="taxpayer.name" [formControl]="taxpayerForm.controls['name']">
              <mat-error *ngIf="taxpayerForm.controls['name'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>person</mat-icon>
              <input required [readonly]="false" matInput placeholder="RFC" [(ngModel)]="taxpayer.rfc" [formControl]="taxpayerForm.controls['rfc']">
              <mat-error *ngIf="taxpayerForm.controls['rfc'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-8">
            <mat-form-field>
              <mat-icon matPrefix>person</mat-icon>
              <input required [readonly]="false" matInput placeholder="Razón Social" [(ngModel)]="taxpayer.socialReason" [formControl]="taxpayerForm.controls['socialReason']">
              <mat-error *ngIf="taxpayerForm.controls['socialReason'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-3">
            <br>
            <button mat-raised-button color="primary" [disabled]="!taxpayerForm.valid" (click)="updateTaxpayer()">Cambiar</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <strong>Cambiar contraseña de acceso</strong>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>lock</mat-icon>
              <input [readonly]="false" matInput placeholder="Contraseña actual" type="password" [(ngModel)]="currentPass">
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>lock</mat-icon>
              <input [readonly]="false" matInput placeholder="Contraseña nueva" type="password" [(ngModel)]="newPass">
            </mat-form-field>
          </div>
          <div class="col-12 col-md-8"></div>
          <div class="col-12 col-md-3">
            <br>
            <button mat-raised-button color="primary" (click)="updatePassword()">Cambiar</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <mat-card class="example-card">
      <strong>Archivos</strong>
      <mat-card-header>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <strong>Archivo de situación fiscal</strong>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>
                <div class="file-picker">
                  <div class="file-btn">
                    Seleccionar
                    <input class="picker" type="file" (change)="onSituationFile($event)">
                  </div>
                  <span class="filename">
                    {{ situationFile?.name || 'Ningún archivo seleccionado' }}
                  </span>
                </div>
                <br>
                <mat-icon>insert_drive_file</mat-icon>
                <a target="_blank" href="http://archivo.html">Ver archivo</a>
              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <strong>Fiel</strong>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>
                <div class="file-picker">
                  <div class="file-btn">
                    Seleccionar
                    <input class="picker" type="file" (change)="onLoyalFile($event)">
                  </div>
                  <span class="filename">
                    {{ loyalFile || 'Ningún archivo seleccionado' }}
                  </span>
                </div>
                <br>
                <mat-icon>insert_drive_file</mat-icon>
                <a target="_blank" href="http://archivo.html">Ver archivo</a>
              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <strong>Sellos</strong>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>
                <div class="file-picker">
                  <div class="file-btn">
                    Seleccionar
                    <input class="picker" type="file" (change)="onSealFile($event)">
                  </div>
                  <span class="filename">
                    {{ sealFile?.name || 'Ningún archivo seleccionado' }}
                  </span>
                </div>
                <br>
                <mat-icon>insert_drive_file</mat-icon>
                <a target="_blank" href="http://archivo.html">Ver archivo</a>
              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <mat-accordion class="no-scroll">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Domicilio
          </mat-panel-title>
          <mat-panel-description>
            Cambiar datos de domicilio
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="addressForm">
          <div class="row">
            <div class="col-12 col-sm-5">
              <mat-form-field>
                <mat-icon matPrefix>location_on</mat-icon>
                <input [readonly]="false" matInput required placeholder="Calle" [formControl]="addressForm.controls['street']" [(ngModel)]="taxpayer.address.street">
                <mat-error *ngIf="addressForm.controls['street'].hasError('required')">
                  Campo
                  <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-icon matPrefix>streetview</mat-icon>
                <input [readonly]="false" required matInput type="number" placeholder="Número" [formControl]="addressForm.controls['number']"
                  [(ngModel)]="taxpayer.address.number">
                <mat-error *ngIf="addressForm.controls['number'].hasError('required')">
                  Campo
                  <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-icon matPrefix>location_on</mat-icon>
                <input [readonly]="false" required matInput placeholder="Colonia" [formControl]="addressForm.controls['neighborhood']" [(ngModel)]="taxpayer.address.neighborhood">
                <mat-error *ngIf="addressForm.controls['neighborhood'].hasError('required')">
                  Campo
                  <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-icon matPrefix>streetview</mat-icon>
                <input [readonly]="false" type="text" required minlength="5" maxlength="5" [formControl]="addressForm.controls['zipcode']"
                  matInput placeholder="Código Postal" [(ngModel)]="taxpayer.address.zipcode">
                <mat-error *ngIf="addressForm.controls['zipcode'].hasError('required')">
                  Campo
                  <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="addressForm.controls['zipcode'].hasError('minlength') || addressForm.controls['zipcode'].hasError('maxlength')">
                  Código postal es de
                  <strong>5 caracteres</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-sm-5">
              <mat-form-field>
                <mat-icon matPrefix>location_on</mat-icon>
                <input [readonly]="false" required matInput placeholder="Ciudad" [formControl]="addressForm.controls['city']" [(ngModel)]="taxpayer.address.city">
              </mat-form-field>
              <mat-form-field>
                <mat-icon matPrefix>location_on</mat-icon>
                <input [readonly]="false" matInput placeholder="Municipio" [formControl]="addressForm.controls['municipality']" [(ngModel)]="taxpayer.address.municipality">
                <mat-error *ngIf="addressForm.controls['municipality'].hasError('required')">
                  Campo
                  <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-icon matPrefix>location_on</mat-icon>
                <input type="text" [readonly]="false" required placeholder="Estado" matInput [formControl]="addressForm.controls['state']"
                  [matAutocomplete]="state" [(ngModel)]="currentState">
                <mat-autocomplete #state="matAutocomplete" [displayWith]="displayFnState">
                  <mat-option *ngFor="let option of filteredStates | async" [value]="option">
                    {{ option.name }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="addressForm.controls['state'].hasError('required')">
                  Campo
                  <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
              <button mat-raised-button class="float-right" color="primary" [disabled]="!addressForm.valid" (click)="updateTaxpayer()">Cambiar</button>
            </div>
          </div>
        </form>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>