:host ::ng-deep {
    mat-icon{
        color: #666;
        padding-bottom: 0;
    }
    
    mat-form-field {
        width: 100%;
        .mat-form-field-prefix {
            margin-right: 8px;
        }

        .mat-icon {
            color: #666;
        }
    }
    .mat-expansion-panel-body{
        overflow-x: hidden;
    }
}

.file-picker {

    .file-btn {
        position: relative;
        display: inline-block;
        overflow: hidden;
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid #ccc;

        .picker {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
        }
    }

    .filename {
        display: block;
        color: #444;
    }
}

