<ul class="breadcrumb">
  <li>
    <a routerLink="/" routerLinkActive="active">Inicio</a>
  </li>
  <li>Mi Perfil</li>
  <li class="selected">Mis Datos</li>
</ul>

<div class="row">
  <div class="col-12 col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title><strong>General</strong></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>person</mat-icon>
              <input [readonly]="false" matInput placeholder="Nombre" [(ngModel)]="taxpayer.name">
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>person</mat-icon>
              <input [readonly]="false" matInput placeholder="RFC" [(ngModel)]="taxpayer.rfc">
            </mat-form-field>
          </div>
          <div class="col-12 col-md-8">
            <mat-form-field>
              <mat-icon matPrefix>person</mat-icon>
              <input [readonly]="false" matInput placeholder="Razón Social" [(ngModel)]="taxpayer.socialReason">
            </mat-form-field>
          </div>
          <div class="col-12 col-md-3">
            <br>
            <button mat-raised-button color="primary" (click)="updateTaxpayer()">Cambiar</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title><strong>Cambiar contraseña de acceso</strong></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>lock</mat-icon>
              <input [readonly]="false" matInput placeholder="Contraseña actual" type="password" [(ngModel)]="currentPass">
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>lock</mat-icon>
              <input [readonly]="false" matInput placeholder="Contraseña nueva" type="password" [(ngModel)]="newPass">
            </mat-form-field>
          </div>
          <div class="col-12 col-md-8"></div>
          <div class="col-12 col-md-3">
            <br>
            <button mat-raised-button color="primary" (click)="updatePassword()">Cambiar</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <mat-card class="example-card">
      <strong>Archivos</strong>
      <mat-card-header>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <strong>Archivo de situación fiscal</strong>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>
                <div class="file-picker">
                  <div class="file-btn">
                    Seleccionar
                    <input class="picker" type="file" (change)="onSituationFile($event)">
                  </div>
                  <span class="filename">
                    {{ situationFile?.name || 'Ningún archivo seleccionado' }}
                  </span>
                </div>
                <br>
                <mat-icon>insert_drive_file</mat-icon>
                <a target="_blank" href="http://archivo.html">Ver archivo</a>
              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <strong>Fiel</strong>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>
                <div class="file-picker">
                  <div class="file-btn">
                    Seleccionar
                    <input class="picker" type="file" (change)="onLoyalFile($event)">
                  </div>
                  <span class="filename">
                    {{ loyalFile?.name || 'Ningún archivo seleccionado' }}
                  </span>
                </div>
                <br>
                <mat-icon>insert_drive_file</mat-icon>
                <a target="_blank" href="http://archivo.html">Ver archivo</a>
              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <strong>Sellos</strong>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>
                <div class="file-picker">
                  <div class="file-btn">
                    Seleccionar
                    <input class="picker" type="file" (change)="onSealFile($event)">
                  </div>
                  <span class="filename">
                    {{ sealFile?.name || 'Ningún archivo seleccionado' }}
                  </span>
                </div>
                <br>
                <mat-icon>insert_drive_file</mat-icon>
                <a target="_blank" href="http://archivo.html">Ver archivo</a>
              </mat-card-content>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <mat-accordion class="no-scroll">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Domicilio
          </mat-panel-title>
          <mat-panel-description>
            Cambiar datos de domicilio
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-12 col-sm-5">
            <mat-form-field>
              <mat-icon matPrefix>location_on</mat-icon>
              <input [readonly]="false" matInput required placeholder="Calle" [(ngModel)]="taxpayer.address.street">
            </mat-form-field>
            <mat-form-field>
              <mat-icon matPrefix>streetview</mat-icon>
              <input [readonly]="false" required matInput type="number" placeholder="Número" [(ngModel)]="taxpayer.address.number">
            </mat-form-field>
            <mat-form-field>
              <mat-icon matPrefix>location_on</mat-icon>
              <input [readonly]="false" required matInput placeholder="Colonia" [(ngModel)]="taxpayer.address.neighborhood">
            </mat-form-field>
            <mat-form-field>
              <mat-icon matPrefix>streetview</mat-icon>
              <input [readonly]="false" type="text" required minlength="5" maxlength="5" matInput placeholder="Código Postal" [(ngModel)]="taxpayer.address.zipcode">
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-5">
            <mat-form-field>
              <mat-icon matPrefix>location_on</mat-icon>
              <input [readonly]="false" required matInput placeholder="Ciudad" [(ngModel)]="taxpayer.address.city">
            </mat-form-field>
            <mat-form-field>
              <mat-icon matPrefix>location_on</mat-icon>
              <input [readonly]="false" matInput placeholder="Municipio" [(ngModel)]="taxpayer.address.municipality">
            </mat-form-field>
            <mat-form-field>
              <mat-icon matPrefix>location_on</mat-icon>
              <input [readonly]="false" matInput required placeholder="Estado" [(ngModel)]="taxpayer.address.state">
            </mat-form-field>
            <button mat-raised-button class="float-right" color="primary" (click)="updateTaxpayer()">Cambiar</button>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>