<ul class="breadcrumb">
  <li>
    <a routerLink="/" routerLinkActive="active">Inicio</a>
  </li>
  <li>Mi Perfil</li>
  <li class="selected">Notificaciones</li>
</ul>

<rt-datatable (selected)="onMessageSelected($event)" [showRowNumber]="true" searchWait="600" [showRowNumber]="false" [headers]="headers"
  [action]="action" [data]="data">
  <section class="actions">
    <ng-container *ngIf="selectedMessage">
      <button mat-icon-button (click)="onView($event)">
        <mat-icon matTooltip="Ver detalles" matTooltipPosition="above">visibility</mat-icon>
      </button>
    </ng-container>
  </section>
</rt-datatable>