<section class="billing-catalog">
  <header class="header">
    <h3 class="title float-left">{{ title }}:</h3>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <section class="body">
    <div class="container">
      <div class="row">
        <div class="col-7">
          <br>
          <h3 class="">No. 316844775</h3>
        </div>
        <div class="col-5">
          <mat-form-field>
            <mat-icon matPrefix>today</mat-icon>
            <input [readonly]="true" matInput placeholder="Fecha" [(ngModel)]="infoBill.date">
          </mat-form-field>
        </div>
      </div>
      <mat-card class="bg-card1">
        <mat-card-header>
          <mat-card-title>
            <strong *ngIf="!infoBill.provider">Cliente</strong>
            <strong *ngIf="infoBill.provider">Proveedor</strong>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-12">
              <mat-form-field>
                <mat-icon matPrefix>person</mat-icon>
                <input *ngIf="!infoBill.provider" [readonly]="true" matInput placeholder="Cliente" [(ngModel)]="infoBill.customer.name">
                <input *ngIf="infoBill.provider" [readonly]="true" matInput placeholder="Proveedor" [(ngModel)]="infoBill.customer.name">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field>
                <mat-icon matPrefix>work</mat-icon>
                <input [readonly]="true" required matInput placeholder="RFC" [(ngModel)]="infoBill.customer.rfc">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field>
                <mat-icon matPrefix>phone</mat-icon>
                <input [readonly]="true" type="tel" required matInput placeholder="Teléfono" [(ngModel)]="infoBill.customer.phone">
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field>
                <mat-icon matPrefix>mail</mat-icon>
                <input [readonly]="true" matInput required placeholder="Correo electrónico" [(ngModel)]="infoBill.customer.email">
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card class="bg-card1">
        <mat-card-header>
          <strong>Domicilio</strong>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-9">
              <mat-form-field>
                <mat-icon matPrefix>location_on</mat-icon>
                <input [readonly]="true" matInput required placeholder="Calle" [(ngModel)]="infoBill.address.street">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field>
                <mat-icon matPrefix>streetview</mat-icon>
                <input [readonly]="true" required matInput type="number" placeholder="Número" [(ngModel)]="infoBill.address.number">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-9">
              <mat-form-field>
                <mat-icon matPrefix>location_on</mat-icon>
                <input [readonly]="true" required matInput placeholder="Colonia" [(ngModel)]="infoBill.address.neighborhood">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field>
                <mat-icon matPrefix>streetview</mat-icon>
                <input [readonly]="true" type="text" required minlength="5" maxlength="5" matInput placeholder="CP" [(ngModel)]="infoBill.address.zipcode">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <mat-form-field>
                <mat-icon matPrefix>location_on</mat-icon>
                <input [readonly]="true" required matInput placeholder="Ciudad" [(ngModel)]="infoBill.address.city">
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field>
                <mat-icon matPrefix>location_on</mat-icon>
                <input [readonly]="true" matInput placeholder="Municipio" [(ngModel)]="infoBill.address.municipality">
                <mat-error *ngIf="false">
                  Campo
                  <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <mat-form-field>
                <mat-icon matPrefix>location_on</mat-icon>
                <input [readonly]="true" matInput required placeholder="Estado" [(ngModel)]="infoBill.address.state">
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <br>

      <rt-datatable searchWait="600" [showRowNumber]="true" [headers]="headers" [action]="action" [data]="products">
      </rt-datatable>
      <div>
        <div class="row" style="text-align: right; padding-top: 10px">
          <div class="col-9">Subtotal: </div>
          <div class="col-3">{{subtotal | currency:'USD':true:'2.2-4'}}</div>
        </div>
        <hr>
        <div class="row" style="text-align: right;">
          <div class="col-9">IVA:</div>
          <div class="col-3">{{taxes | currency:'USD':true:'2.2-4'}}</div>
        </div>
        <hr>
        <div class="row" style="text-align: right;">
          <div class="col-9">
            <strong>Total:</strong>
          </div>
          <div class="col-3">
            <strong>{{total | currency:'USD':true:'2.2-4'}}</strong>
          </div>
        </div>
        <br>
      </div>
    </div>
  </section>

  <footer class="footer">
    <button mat-raised-button color="primary" (click)="onClose()">
      Aceptar
    </button>
  </footer>
</section>