<ul *ngIf="(user$ | async)" class="sidemenu">
  <li>
    <button *ngIf="permission.contribuyente" mat-button class="home-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']"
      routerLink="/contribuyente/inicio" (click)="selectedOption ='home'; home=true;">
      <mat-icon class="home-icon">home</mat-icon>
      <div class="home-item-title">Inicio</div>
    </button>
  </li>
  <li>
    <button *ngIf="permission.contador" mat-button class="home-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']"
      routerLink="/contador/incio" (click)="selectedOption ='home'; home=true;">
      <mat-icon class="home-icon">home</mat-icon>
      <div class="home-item-title">Inicio</div>
    </button>
  </li>
  <li>
    <button *ngIf="permission.despacho" mat-button class="home-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']"
      routerLink="/despacho/inicio" (click)="selectedOption ='home'; home=true;">
      <mat-icon class="home-icon">home</mat-icon>
      <div class="home-item-title">Inicio</div>
    </button>
  </li>
  <li>
    <button *ngIf="permission.superadmin" mat-button class="home-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']"
      routerLink="/superadmin/inicio" (click)="selectedOption ='home'; home=true;">
      <mat-icon class="home-icon">home</mat-icon>
      <div class="home-item-title">Inicio</div>
    </button>
  </li>
  <li>
    <button *ngIf="permission.superadmin" mat-button class="home-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']"
      routerLink="/superadmin/despachos" (click)="selectedOption ='home'; home=true;">
      <mat-icon class="home-icon">account_balance</mat-icon>
      <div class="home-item-title">Despachos</div>
    </button>
  </li>
  <li>
    <button *ngIf="permission.superadmin" mat-button class="home-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']"
      routerLink="/superadmin/perfiles" (click)="selectedOption ='home'; home=true;">
      <mat-icon class="home-icon">supervisor_account</mat-icon>
      <div class="home-item-title">Perfiles</div>
    </button>
  </li>
  <li>
    <button *ngIf="permission.superadmin" mat-button class="home-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']"
      routerLink="/superadmin/conceptos" (click)="selectedOption ='home'; home=true;">
      <mat-icon class="home-icon">list</mat-icon>
      <div class="home-item-title">Conceptos</div>
    </button>
  </li>
  <li>
    <button *ngIf="permission.superadmin" mat-button class="home-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']"
      routerLink="/superadmin/obligaciones" (click)="selectedOption ='home'; home=true;">
      <mat-icon class="home-icon">pregnant_woman</mat-icon>
      <div class="home-item-title">Obligaciones</div>
    </button>
  </li>
  <li>
    <button *ngIf="permission.despacho" mat-button class="home-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']"
      routerLink="/despacho/asignar" (click)="selectedOption ='home'; home=true;">
      <mat-icon class="home-icon">swap_horiz</mat-icon>
      <div class="home-item-title">Asignar Contribuyentes</div>
    </button>
  </li>
  <li>
    <button *ngIf="permission.despacho" mat-button class="home-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']"
      routerLink="/despacho/notificaciones" (click)="selectedOption ='home'; home=true;">
      <mat-icon class="home-icon">messages</mat-icon>
      <div class="home-item-title">Notificaciones</div>
    </button>
  </li>
  <li>
    <button *ngIf="permission.contribuyente" mat-button class="home-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']"
      routerLink="/contribuyente/resumen" (click)="selectedOption ='home'; home=true;">
      <mat-icon class="home-icon">assessment</mat-icon>
      <div class="home-item-title">Resumen</div>
    </button>
  </li>
  <!-- <li>
    <button *ngIf="permission.contador" mat-button class="home-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']"
      routerLink="/contador/contribuyentes" (click)="selectedOption ='home'; home=true;">
      <mat-icon class="home-icon">accessibility</mat-icon>
      <div class="home-item-title">Contribuyentes</div>
    </button>
  </li> -->
  <li>
    <button *ngIf="permission.contador" mat-button class="home-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']"
      routerLink="/contador/notificaciones" (click)="selectedOption ='home'; home=true;">
      <mat-icon class="home-icon">messages</mat-icon>
      <div class="home-item-title">Notificaciones</div>
    </button>
  </li>
  <!-- <li>
    <button *ngIf="permission.contribuyente" mat-button class="home-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']"
      routerLink="/contribuyente/impuestos" (click)="selectedOption ='home'; home=true;">
      <mat-icon class="home-icon">attach_money</mat-icon>
      <div class="home-item-title">Mis Impuestos</div>
    </button>
  </li> -->
  <!-- <li>
    <button *ngIf="permission.contribuyente" mat-button class="home-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']"
      routerLink="/contribuyente/ingresos" (click)="selectedOption ='home'; home=true;">
      <mat-icon class="home-icon">assignment_returned</mat-icon>
      <div class="home-item-title">Mis Ingresos</div>
    </button>
  </li> -->
  <!-- <li>
    <button *ngIf="permission.contribuyente" mat-button class="home-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']"
      routerLink="/contribuyente/egresos" (click)="selectedOption ='home'; home=true;">
      <mat-icon class="home-icon">assignment_return</mat-icon>
      <div class="home-item-title">Mis Egresos</div>
    </button>
  </li> -->
  <li>
    <button *ngIf="permission.contribuyente" mat-button class="home-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']"
      routerLink="/contribuyente/notificaciones" (click)="selectedOption ='home'; home=true;">
      <mat-icon matPrefix class="home-icon">message</mat-icon>
      <div class="home-item-title">Notificaciones</div>
    </button>
  </li>
  <li>
    <mat-accordion #matacordion *ngIf="permission.contribuyente">
      <mat-expansion-panel [expanded]="!home && inventory" (opened)="setToFalse(); inventory=true;">
        <mat-expansion-panel-header class="menu-item" (click)="selectedOption ='header'">
          <mat-icon matPrefix>account_circle</mat-icon>
          <div class="menu-item-title">Mi Perfil</div>
        </mat-expansion-panel-header>
        <!-- permission.inventory.inputs -> tiene permiso a inputs -->
        <button mat-button class="menu-item-sub" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']" routerLink="/contribuyente/misDatos"
          (click)="selectedOption ='child'">
          <mat-icon matPrefix>assignment_ind</mat-icon>
          <div class="menu-item-title">Mis Datos</div>
        </button>

        <button mat-button class="menu-item-sub" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']" routerLink="/contribuyente/obligaciones"
          (click)="selectedOption ='child'">
          <mat-icon matPrefix>list</mat-icon>
          <div class="menu-item-title">Mis Obligaciones</div>
        </button>

        <button mat-button class="menu-item-sub" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['is-active']" routerLink="/contribuyente/limites"
          (click)="selectedOption ='child'">
          <mat-icon matPrefix>warning</mat-icon>
          <div class="menu-item-title">Mis Limites</div>
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </li>
</ul>