<section class="taxpayer-catalog">
  <header class="header">
    <h3 class="title">{{title}}</h3>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <section class="body">
    <form [formGroup]="taxpayerForm">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>account_balance</mat-icon>
              <input [readonly]="false" matInput placeholder="Razón Social" [(ngModel)]="taxPayer.name" [formControl]="taxpayerForm.controls['name']">
              <mat-error *ngIf="taxpayerForm.controls['name'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>work</mat-icon>
              <input [readonly]="false" matInput placeholder="RFC" [(ngModel)]="taxPayer.rfc" [formControl]="taxpayerForm.controls['rfc']">
              <mat-error *ngIf="taxpayerForm.controls['rfc'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="taxpayerForm.controls['rfc'].hasError('pattern')">
                RFC
                <strong>inválido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>lock</mat-icon>
              <input [readonly]="false" type="password" matInput placeholder="Contraseña" [(ngModel)]="taxPayer.password" [formControl]="taxpayerForm.controls['password']">
              <mat-error *ngIf="taxpayerForm.controls['password'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-select placeholder="Régimen Fiscal" [(ngModel)]="regimen" [formControl]="taxpayerForm.controls['fiscal_regime']">
                <mat-option value="RIF">
                  RIF
                </mat-option>
              </mat-select>
              <mat-error *ngIf="taxpayerForm.controls['fiscal_regime'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>

        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>today</mat-icon>
              <input [(ngModel)]="taxPayer.vigencia_fiel" matInput [matDatepicker]="picker3" placeholder="Vigencia de fiel" [formControl]="taxpayerForm.controls['vigencia_fiel']">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
              <mat-error *ngIf="taxpayerForm.controls['vigencia_fiel'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>today</mat-icon>
              <input [(ngModel)]="taxPayer.vigencia_sellos" matInput [matDatepicker]="picker4" placeholder="Vigencia de sellos" [formControl]="taxpayerForm.controls['vigencia_sellos']">
              <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
              <mat-datepicker #picker4></mat-datepicker>
              <mat-error *ngIf="taxpayerForm.controls['vigencia_sellos'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- <div class="row">
        <div class="col-12">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <strong>Archivo de situación fiscal</strong>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-card>
                <mat-card-content>
                  <input placeholder="Archivo" type="file">
                  <br>
                  <a target="_blank" href="http://archivo.html">Ver archivo</a>
                </mat-card-content>
              </mat-card>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <strong>Fiel</strong>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-card>
                <mat-card-content>
                  <input placeholder="Archivo" type="file">
                  <br>
                  <a target="_blank" href="http://archivo.html">Ver archivo</a>
                </mat-card-content>
              </mat-card>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <strong>Sellos</strong>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-card>
                <mat-card-content>
                  <input placeholder="Archivo" type="file">
                  <br>
                  <a target="_blank" href="http://archivo.html">Ver archivo</a>
                </mat-card-content>
              </mat-card>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div> -->
        <br>
        <ng-container *ngIf="readonly">
          <rt-datatable (selected)="onSelected($event)" searchWait="600" [showRowNumber]="true" [headers]="headers" [action]="action"
            [data]="statement">
            <section class="actions">
              <!-- <ng-container *ngIf="selectedStatement">
               <button mat-icon-button (click)="onView($event)">
                <mat-icon matTooltip="Ver detalles" matTooltipPosition="above">visibility</mat-icon>
              </button>
                <button mat-icon-button (click)="onEdit($event)">
              <mat-icon matTooltip="Editar" matTooltipPosition="above">edit</mat-icon>
            </button>
                <mat-slide-toggle (click)="printSelected()">Activar / Desactivar</mat-slide-toggle>
              </ng-container> -->
            </section>
          </rt-datatable>
          <div class="row">
            <div class="col-12 col-md-6">
              <mat-form-field>
                <mat-icon matPrefix>today</mat-icon>
                <input [(ngModel)]="taxPayer.regimen_change" matInput [matDatepicker]="picker" placeholder="Suspención de actividades" [formControl]="taxpayerForm.controls['regimen_change']">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="taxpayerForm.controls['regimen_change'].hasError('required')">
                  Campo
                  <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field>
                <mat-icon matPrefix>today</mat-icon>
                <input [(ngModel)]="taxPayer.suspension_date" matInput [matDatepicker]="picker2" placeholder="Cambio de régimen" [formControl]="taxpayerForm.controls['suspension_date']">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngIf="taxpayerForm.controls['suspension_date'].hasError('required')">
                  Campo
                  <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
  </section>

  <footer class="footer">
    <button mat-button (click)="onClose()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" [disabled]="!taxpayerForm.valid" (click)="onSave()">
      Guardar
    </button>
  </footer>
</section>