<section class="taxpayer-catalog">
  <header class="header">
    <h3 class="title">{{title}}</h3>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <section class="body">
    <form [formGroup]="taxpayerForm" (keydown)="key($event)">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <mat-form-field>
              <mat-icon matPrefix>person</mat-icon>
              <input [readonly]="false" matInput required placeholder="Nombre" [(ngModel)]="taxPayer.name" [formControl]="taxpayerForm.controls['name']">
              <mat-error *ngIf="taxpayerForm.controls['name'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field>
              <mat-icon matPrefix>account_balance</mat-icon>
              <input [readonly]="false" matInput required placeholder="Razón Social" [(ngModel)]="taxPayer.socialReason" [formControl]="taxpayerForm.controls['socialReason']">
              <mat-error *ngIf="taxpayerForm.controls['socialReason'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>work</mat-icon>
              <input [readonly]="false" matInput required placeholder="RFC" [(ngModel)]="taxPayer.rfc" [formControl]="taxpayerForm.controls['rfc']">
              <mat-error *ngIf="taxpayerForm.controls['rfc'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="taxpayerForm.controls['rfc'].hasError('pattern')">
                RFC
                <strong>inválido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-select placeholder="Régimen Fiscal" required [(ngModel)]="regimen" [formControl]="taxpayerForm.controls['fiscal_regime']">
                <mat-option value="RIF">
                  RIF
                </mat-option>
              </mat-select>
              <mat-error *ngIf="taxpayerForm.controls['fiscal_regime'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field>
              <mat-icon matPrefix>today</mat-icon>
              <input [formControl]="taxpayerForm.controls['registro_regimen']" matInput [matDatepicker]="picker" [(ngModel)]="taxPayer.regimenRegister"
                placeholder="Registro de régimen">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="taxpayerForm.controls['registro_regimen'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>today</mat-icon>
              <input [(ngModel)]="taxPayer.loyalValidity" required matInput [matDatepicker]="picker3" placeholder="Vigencia de fiel" [formControl]="taxpayerForm.controls['vigencia_fiel']">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
              <mat-error *ngIf="taxpayerForm.controls['vigencia_fiel'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>today</mat-icon>
              <input [(ngModel)]="taxPayer.sealValidity" required matInput [matDatepicker]="picker4" placeholder="Vigencia de sellos" [formControl]="taxpayerForm.controls['vigencia_sellos']">
              <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
              <mat-datepicker #picker4></mat-datepicker>
              <mat-error *ngIf="taxpayerForm.controls['vigencia_sellos'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="example-full-width">
              <mat-icon matPrefix>account_box</mat-icon>
              <input type="text" required placeholder="Perfil" matInput [formControl]="taxpayerForm.controls['profile']" [matAutocomplete]="auto"
                [(ngModel)]="currentProfile">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnProfile">
                <mat-option *ngFor="let option of filteredProfiles | async" [value]="option">
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="taxpayerForm.controls['profile'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <mat-form-field>
              <mat-icon matPrefix>attach_money</mat-icon>
              <input min="1" style="text-align: right; padding-right: 10px" [formControl]="taxpayerForm.controls['debtSAT']" matInput placeholder="Dif. gastos mayores a ingresos periodos ant."
                type="number" [(ngModel)]="taxPayer.debtSAT">
              <mat-error *ngIf="taxpayerForm.controls['debtSAT'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field>
              <mat-icon matPrefix>attach_money</mat-icon>
              <input min="1" style="text-align: right; padding-right: 10px" [formControl]="taxpayerForm.controls['ivaFavor']" matInput placeholder="IVA a favor periodos ant."
                type="number" [(ngModel)]="taxPayer.ivaFavor">
              <mat-error *ngIf="taxpayerForm.controls['ivaFavor'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field>
              <mat-icon matPrefix>attach_money</mat-icon>
              <input min="1" style="text-align: right; padding-right: 10px" [formControl]="taxpayerForm.controls['yearBefore']" matInput placeholder="Ingresos totales ejercicio ant."
                type="number" [(ngModel)]="taxPayer.yearBefore">
              <mat-error *ngIf="taxpayerForm.controls['yearBefore'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Perfil
                  </mat-panel-title>
                  <mat-panel-description style="width: 100%; text-align: left; margin-left: 50px">
                    <span>Detalle del perfil</span>
                    <span style="margin-left: 120px">{{ currentProfile ? 'Actividad: ' + currentProfile?.activity.name + ' (' + currentProfile?.activity.percent
                      + '%)' : '' }}</span>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-tab-group>
                  <mat-tab label="Conceptos">
                    <rt-datatable (selected)="onConceptSelected($event)" [showRowNumber]="true" searchWait="600" [showRowNumber]="false" [headers]="headersConcepts"
                      [action]="actionConcept" [data]="concepts" (changed)="inputChange($event)">
                      <section class="actions">
                        <ng-container *ngIf="conceptSelected">
                          <button mat-icon-button (click)="onViewConcept($event)">
                            <mat-icon matTooltip="Ver detalles" matTooltipPosition="above">visibility</mat-icon>
                          </button>
                        </ng-container>
                      </section>
                    </rt-datatable>
                  </mat-tab>
                  <mat-tab label="Obligaciones">
                    <rt-datatable (selected)="onObligationSelected($event)" [showRowNumber]="true" searchWait="600" [showRowNumber]="false" [headers]="headersObligations"
                      [action]="actionObligation" [data]="obligations">
                      <section class="actions">
                        <ng-container *ngIf="obligationSelected">
                          <button mat-icon-button (click)="onViewObligation($event)">
                            <mat-icon matTooltip="Ver detalles" matTooltipPosition="above">visibility</mat-icon>
                          </button>
                        </ng-container>
                      </section>
                    </rt-datatable>
                  </mat-tab>
                </mat-tab-group>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Archivos
                  </mat-panel-title>
                  <mat-panel-description style="width: 100%; text-align: left; margin-left: 30px">
                    <span>Fiel y Sellos</span>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                  <div class="col-5">
                    <div class="file-picker">
                      <div class="file-btn">
                        Seleccionar Fiel
                        <input class="picker" type="file" (change)="uploadLoyalFile($event)">
                      </div>
                      <span class="filename" *ngIf="loyalFileName">
                        Archivo: {{loyalFileName}}
                      </span>
                      <span class="filename" *ngIf="taxPayer.loyalFile">
                        <a [href]="taxPayer.loyalFile" download>Descargar</a>
                      </span>
                    </div>
                  </div>
                  <div class="col-5" class="center">
                    <div class="file-picker">
                      <div class="file-btn">
                        Seleccionar Sellos
                        <input class="picker" type="file" (change)="uploadLoyalFile($event)">
                      </div>
                      <span class="filename">
                        Archivo seleccionado
                      </span>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-12">
            <br>
            <h5 style="color:dimgrey">Cuenta de usuario</h5>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>person</mat-icon>
              <input [readonly]="false" required matInput placeholder="Usuario" [(ngModel)]="taxPayer.account.user" [formControl]="taxpayerForm.controls['user']">
              <mat-error *ngIf="taxpayerForm.controls['user'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field>
              <mat-icon matPrefix>vpn_key</mat-icon>
              <input [readonly]="false" type="password" required matInput placeholder="Contraseña" [(ngModel)]="taxPayer.account.password"
                [formControl]="taxpayerForm.controls['password']">
              <mat-error *ngIf="taxpayerForm.controls['password'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- <div class="row">
        <div class="col-12">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <strong>Archivo de situación fiscal</strong>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-card>
                <mat-card-content>
                  <input placeholder="Archivo" type="file">
                  <br>
                  <a target="_blank" href="http://archivo.html">Ver archivo</a>
                </mat-card-content>
              </mat-card>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div> -->
        <br>
        <ng-container *ngIf="readonly">

          <rt-datatable (selected)="onSelected($event)" searchWait="600" [showRowNumber]="true" [headers]="headersStatement" [action]="actionStatement"
            [data]="statement">
            <section class="actions">
              <button mat-icon-button (click)="onCreate($event)">
                <mat-icon matTooltip="Nueva declaración" matTooltipPosition="above">add</mat-icon>
              </button>
              <ng-container *ngIf="selectedStatement">
                <button mat-icon-button (click)="onChangeStatus($event)">
                  <mat-icon matTooltip="Cambiar estatus" matTooltipPosition="above">refresh</mat-icon>
                </button>
                <button mat-icon-button (click)="onUploadFiles($event)">
                  <mat-icon matTooltip="Subir archivos" matTooltipPosition="above">file_upload</mat-icon>
                </button>
                <!-- <button mat-icon-button (click)="onEdit($event)">
                  <mat-icon matTooltip="Editar" matTooltipPosition="above">edit</mat-icon>
                </button>
                <mat-slide-toggle (click)="printSelected()">Activar / Desactivar</mat-slide-toggle> -->
              </ng-container>
            </section>
          </rt-datatable>
          <br>
          <br>
          <div class="row">
            <div class="col-12 col-md-6">
              <mat-form-field>
                <mat-icon matPrefix>today</mat-icon>
                <input [(ngModel)]="taxPayer.regimeChange" matInput [matDatepicker]="picker" placeholder="Suspensión de actividades" [formControl]="taxpayerForm.controls['regimen_change']">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="taxpayerForm.controls['regimen_change'].hasError('required')">
                  Campo
                  <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field>
                <mat-icon matPrefix>today</mat-icon>
                <input [(ngModel)]="taxPayer.activitySuspension" matInput [matDatepicker]="picker2" placeholder="Cambio de régimen" [formControl]="taxpayerForm.controls['suspension_date']">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngIf="taxpayerForm.controls['suspension_date'].hasError('required')">
                  Campo
                  <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
  </section>

  <footer class="footer">
    <button mat-button (click)="onClose()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" [disabled]="!taxpayerForm.valid || wrongLimit" (click)="onSave()">
      Guardar
    </button>
  </footer>
</section>