<ul class="breadcrumb">
  <li *ngIf="roleUp === 'superadmin'">
    <a [routerLink]="['/superadmin/inicio']" routerLinkActive="active">Superadmin</a>
  </li>
  <li class="selected">
    <span *ngIf="roleUp === 'despacho'">Despacho</span>    
    <span class="accent" *ngIf="roleUp !== 'despacho'">Despacho</span>
  </li>
</ul>
<ng-container *ngIf="users">
  <div style="color:#1565C0; font-size: 1em" *ngFor="let u of users">
    <strong>{{u.role}}: <span class="accent">{{ u.name }}</span></strong>
  </div>
  <hr>
  <br>
</ng-container>
<div class="row">
  <div class="col-6 col-md-4">
    <mat-card id="card1" class="example-card pointer  new-padding" (click)="filtrar('1')">
      <div id="div1" class="dashboard-card-icon">
        <i class="material-icons big-icon">people</i>
      </div>
      <div class="dashboard-card-text">
        <h1 class="text-center big-font remove-margin-bottom">{{ office?.totalAccountant }}</h1>
        <h6 class="text-center jessi-color">Total contadores</h6>
      </div>
    </mat-card>
  </div>
  <div class="col-6 col-md-4">
    <mat-card id="card2" class="example-card pointer  new-padding" (click)="filtrar('2')">
      <div id="div2" class="dashboard-card-icon">
        <i class="material-icons big-icon">warning</i>
      </div>
      <div class="dashboard-card-text ">
        <h1 class="text-center big-font remove-margin-bottom">20</h1>
        <h6 class="text-center jessi-color remove-margin-bottom">Contadores con retraso</h6>
      </div>
    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card id="card3" class="example-card pointer  new-padding" (click)="filtrar('3')">
      <div id="div3" class="dashboard-card-icon">
        <i class="material-icons big-icon">done</i>
      </div>
      <div class="dashboard-card-text">
        <h1 class="text-center big-font remove-margin-bottom">18</h1>
        <h6 class="text-center jessi-color">Contadores sin restraso</h6>
      </div>
    </mat-card>
  </div>
</div>
<br>
<div class="row">
  <div class="col-6 col-md-3">
    <mat-card id="card4" class="example-card pointer  new-padding" (click)="filtrar('4')">
      <div id="div4" class="dashboard-card-icon">
        <i class="material-icons big-icon">people</i>
      </div>
      <div class="dashboard-card-text">
        <h1 class="text-center big-font remove-margin-bottom">{{ office?.totalTaxpayer }}</h1>
        <h6 class="text-center jessi-color">Total contribuyentes</h6>
      </div>
    </mat-card>
  </div>
  <div class="col-6 col-md-3">
    <mat-card id="card5" class="example-card pointer  new-padding" (click)="filtrar('5')">
      <div id="div5" class="dashboard-card-icon">
        <i class="material-icons big-icon">done</i>
      </div>
      <div class="dashboard-card-text ">
        <h1 class="text-center big-font remove-margin-bottom">20</h1>
        <h6 class="text-center jessi-color remove-margin-bottom">Contribuyentes declarados</h6>
      </div>
    </mat-card>
  </div>
  <div class="col-6 col-md-3">
    <mat-card id="card6" class="example-card pointer  new-padding" (click)="filtrar('6')">
      <div id="div6" class="dashboard-card-icon">
        <i class="material-icons big-icon">close</i>
      </div>
      <div class="dashboard-card-text">
        <h1 class="text-center big-font remove-margin-bottom">18</h1>
        <h6 class="text-center jessi-color">Contribuyentes no declarados</h6>
      </div>
    </mat-card>
  </div>
  <div class="col-6 col-md-3">
    <mat-card id="card7" class="example-card pointer  new-padding" (click)="filtrar('7')">
      <div id="div7" class="dashboard-card-icon">
        <i class="material-icons big-icon">warning</i>
      </div>
      <div class="dashboard-card-text ">
        <h1 class="text-center big-font remove-margin-bottom">2</h1>
        <h6 class="text-center jessi-color">Contribuyentes fuera de límite</h6>
      </div>
    </mat-card>
  </div>
</div>
<br>
<rt-datatable (selected)="onContadorSelected($event)" (checked)="onRowChecked($event)" [showRowNumber]="true" searchWait="600"
  [headers]="headers" [action]="action" [data]="data">
  <section class="actions">
    <button mat-icon-button (click)="onCreate($event)">
      <mat-icon matTooltip="Nuevo" matTooltipPosition="above">add</mat-icon>
    </button>
    <ng-container *ngIf="selectedAccountant">
      <button mat-icon-button (click)="onView($event)">
        <mat-icon matTooltip="Ver detalles" matTooltipPosition="above">visibility</mat-icon>
      </button>
      <button mat-icon-button (click)="onDelete($event)">
        <mat-icon matTooltip="Eliminar" matTooltipPosition="above">delete</mat-icon>
      </button>
      <button mat-icon-button (click)="onContadorDetail($event)">
        <mat-icon matTooltip="Resumen" matTooltipPosition="above">assessment</mat-icon>
      </button>
      <button mat-icon-button (click)="onReasignTaxpayer($event)">
        <mat-icon matTooltip="Reasignar constribuyentes del contador" matTooltipPosition="above">assignment_ind</mat-icon>
      </button>
    </ng-container>
  </section>
</rt-datatable>