<section class="login">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(assets/bg-2.jpeg);">
        <h1 class="login100-form-title-1">
          Iniciar sesión
        </h1>
      </div>
      <form [formGroup]="loginForm" class="login100-form" (keydown)="keyDownFunction($event)">
        <!-- <h1 class="title">Iniciar sesión</h1> -->
        <mat-form-field class="wrap-input100">
          <!-- <span class="label-input100">Rol</span> -->
          <mat-select required placeholder="Seleccionar rol" [(ngModel)]="selectedRole" formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role._id">
              {{role.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="loginForm.get('role').hasError('required')">
            El rol es
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="wrap-input100">
          <!-- <span class="label-input100">Usuario</span> -->
          <input required matInput placeholder="Nombre de usuario" formControlName="usuario">
          <mat-error *ngIf="loginForm.get('usuario').hasError('required')">
            El nombre de usuario esS
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="wrap-input100">
          <!-- <span class="label-input100">Contraseña</span> -->
          <input required matInput placeholder="Contraseña" type="password" formControlName="contrasena">
          <mat-error *ngIf="loginForm.get('contrasena').hasError('required')">
            La contraseña es
            <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
        <alert style="margin: 0 auto" color="danger" *ngIf="isLoginWrong && isSubmited">
          {{ message }}
        </alert>
        <alert style="margin: 0 auto" color="danger" *ngIf="noConnection && isSubmited">
          {{ 'Falló la conexión' }}
        </alert>
        <!-- <div class="float-right">
          <button mat-raised-button color="primary" (click)="onLogin()">Entrar</button>
        </div> -->
        <div class="container-login100-form-btn" style="margin: 0 auto">
          <button mat-raised-button color="primary" class="login100-form-btn" (click)="onLogin()">Entrar</button>
        </div>
        <br>
        <button mat-button class="center" type="button" color="primary" (click)="recoverPassword()">¿Olvidaste tu contraseña?</button>
        <!-- <div class="btn">
      <div class="btn__submit" (click)="onLogin()">
        <span class="label">Entrar</span>
      </div>
    </div> -->
      </form>
    </div>
</section>