<section class="confirm">
  <header class="header" *ngIf="type === 'danger'" style="background-color: #F44336;">
    <div class="title">
      {{ data?.title }}
    </div>
    <div class="icon">
      <mat-icon>warning</mat-icon>
    </div>
  </header>

  <header class="header" *ngIf="type === 'success'" style="background-color: #00B450;">
    <div class="title">
      {{ data?.title }}
    </div>
    <div class="icon">
      <mat-icon>check</mat-icon>
    </div>
  </header>

  <section class="body">
    <div class="message">
      {{ data?.message }}
      <div [formGroup]="form">
        <small *ngIf="data.input">Introduce la cantidad de dinero que hay en la caja:</small>
        <mat-form-field *ngIf="data.input">
          <input required matInput type="number" min="1" placeholder="Cantidad real" [formControl]="form.controls['amount']">
          <mat-error *ngIf="form.controls['amount'].hasError('required')">
            Introduzca una
            <strong>cantidad</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </section>
   <!-- <footer class="actions" *ngIf="!data.alert && data.input">
    <button (click)="onCancel()" mat-button>{{ data?.buttons?.cancel || 'Cancelar' }}</button>
    <button (click)="onConfirmWithData()" [disabled]="!form.valid" mat-raised-button color="warn">{{ data?.buttons?.ok || 'Confirmar' }}</button>
  </footer> -->
  <footer class="actions" *ngIf="!data.alert && !data.input && type === 'danger'">
    <button (click)="onCancel()" mat-button>{{ data?.buttons?.cancel || 'Cancelar' }}</button>
    <button (click)="onConfirm()" mat-raised-button color="warn">{{ data?.buttons?.ok || 'Confirmar' }}</button>
  </footer>
  <footer class="actions" *ngIf="type === 'success'">
    <button (click)="onCancel()" mat-raised-button style="color: #ffffff; background-color: #00B450;">{{ data?.buttons?.ok || 'Aceptar' }}</button>
  </footer> 
</section>