<ul class="breadcrumb">
  <li>
    <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
  </li>
</ul>
<br>
<div class="row" style="height: 40px;">
  <div class="col-12">
    <mat-card style="background: #C5CAE9; text-align: center; color: #444">
      <mat-card-title style="font-size: 20px;">Alguna información relevante por aqui </mat-card-title>
    </mat-card>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <mat-card style="background: #7986CB; text-align: center; color: white">
      <mat-card-title style="font-size: 25px;">Bienvenido(a)</mat-card-title>
      <mat-card-subtitle style="font-size: 20px; color: white">CP. Héctor Martín Flores Cruz</mat-card-subtitle>
    </mat-card>
  </div>
</div>
<br>
<div class="row">
  <div class="col-6">
    <mat-card class="example-card bg-info">
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center">
          <i class="material-icons big-icon">people</i>
        </p>
        <h2 class="text-center jessi-color">Total de Contribuyentes</h2>
        <h1 class="text-center">40</h1>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card class="example-card bg-success">
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center">
          <i class="material-icons big-icon">done</i>
        </p>
        <h2 class="text-center jessi-color">Contribuyentes Declarados</h2>
        <h1 class="text-center">20</h1>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card class="example-card bg-danger">
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center">
          <i class="material-icons big-icon">close</i>
        </p>
        <h2 class="text-center jessi-color">Contribuyentes no Declarados</h2>
        <h1 class="text-center">18</h1>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card class="example-card bg-warning">
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center">
          <i class="material-icons big-icon">warning</i>
        </p>
        <h2 class="text-center jessi-color">Contribuyentes fuera de Límite</h2>
        <h1 class="text-center">2</h1>
      </mat-card-content>
    </mat-card>
  </div>
</div>