<ul class="breadcrumb">
  <li>
    <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
  </li>
</ul>
<br>
<div class="row" style="height: 40px;">
  <div class="col-12">
    <mat-card style="background: #C5CAE9; text-align: center; color: #444">
      <mat-card-title style="font-size: 20px;">Razón Social: Evolución</mat-card-title>
    </mat-card>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <mat-card style="background: #7986CB; text-align: center; color: white">
      <mat-card-title style="font-size: 25px;">Bienvenido(a)</mat-card-title>
      <mat-card-subtitle style="font-size: 20px; color: white">Juan Antonio Rojas Hernández</mat-card-subtitle>
    </mat-card>
  </div>
</div>
