<section class="showMessage-catalog">
  <header class="header">
    <h3 class="title">
      Asignar Contribuyente</h3>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <div class="body">
    <div class="container">
      <!-- <mat-form-field>
        <mat-icon matPrefix>person</mat-icon>
        <input [readonly]="true" matInput placeholder="Contador Actual" [(ngModel)]="todayAccontant">
      </mat-form-field> -->
      <form class="example-form" [formGroup]="accountantForm">
        <mat-form-field class="example-full-width">
          <mat-icon matPrefix>person</mat-icon>
          <input type="text" required placeholder="Nuevo contador" matInput 
            [formControl]="accountantForm.controls['accountant']" [matAutocomplete]="auto"
            [(ngModel)]="selectedAccountant">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnAccountant">
            <mat-option *ngFor="let option of filteredAccountants | async" [value]="option">
              {{ option.accountant }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="accountantForm.controls['accountant'].hasError('required')">
            Campo
            <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </form>
      <!-- <mat-checkbox required *ngIf="selectedAll" color="warn">
        Entiendo las atrocidades que esto puede desencadenar.
        <br> Cómo cuando el profe le pidió a Jessi que cambiara algo.
        <br>
        <strong>Sólo yo seré responsables de tales actos barbáricos</strong>
      </mat-checkbox> -->
    </div>
  </div>

  <footer class="footer">
    <button mat-button (click)="onClose()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" [disabled]="!accountantForm.valid" (click)="onSave()">
      Aceptar
    </button>
    <!-- <button *ngIf="selectedAll" color="warn" mat-raised-button [disabled]="!accountantForm.valid" (click)="onSave()">
      ¡MotherFucker! Nigga bitch!
    </button> -->
  </footer>
</section>