<ul class="breadcrumb">
  <li>
    <a routerLink="/" routerLinkActive="active">Inicio</a>
  </li>
  <li>Mi Perfil</li>
  <li class="selected">Mis Limites</li>
</ul>
<ng-container *ngIf="contribuyente">
  <div style="color:#1565C0; font-size: 1.3em">
    <strong>Contribuyente: {{ contribuyente }}</strong>
  </div>
  <hr>
  <br>
</ng-container>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>Ganar menos de $2,000,000.00</strong>
      </mat-panel-title>
      <mat-panel-description>
        $1,300,000.00 / $2,000,000.00
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="text-justify">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste nam eum architecto provident. Asperiores minus quos sed reprehenderit
      molestias sequi optio delectus eaque in nulla! Voluptas tenetur consequuntur asperiores animi.
    </p>
    <div class="row">
      <div class="col-2 remove-padding">
        <span class="float-right">
          <strong>$ 0.00</strong>
        </span>
      </div>
      <div class="col-6 remove-padding">
        <mat-progress-bar matTooltip="40%" color="primary" matTooltipPosition="right" class="bar-progress" mode="determinate" value="40"></mat-progress-bar>
        <p class="text-center">
          <br> $400,000 / $2,000,000.00
        </p>
      </div>
      <div class="col-2 remove-padding">
        <span class="text-right">
          <strong>$ 2,000,000.00</strong>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-2 remove-padding">
        <span class="float-right">
          <strong>$ 0.00</strong>
        </span>
      </div>
      <div class="col-6 remove-padding">
        <mat-progress-bar matTooltip="50%" color="accent" matTooltipPosition="right" class="bar-progress status-yellow" mode="determinate"
          value="50"></mat-progress-bar>
        <p class="text-center">
          <br> $1,000,000 / $2,000,000.00
        </p>
      </div>
      <div class="col-2 remove-padding">
        <span class="text-right">
          <strong>$ 2,000,000.00</strong>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-2 remove-padding">
        <span class="float-right">
          <strong>$ 0.00</strong>
        </span>
      </div>
      <div class="col-6 remove-padding">
        <mat-progress-bar matTooltip="80%" matTooltipPosition="right" class="bar-progress" mode="determinate" value="80" color="warn"></mat-progress-bar>
        <p class="text-center">
          <br> $1,600,000 / $2,000,000.00
        </p>
      </div>
      <div class="col-2 remove-padding">
        <span class="text-right">
          <strong>$ 2,000,000.00</strong>
        </span>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>Lorem ipsum</strong>
      </mat-panel-title>
      <mat-panel-description>
        dolor sit amet / consecteur adipiscing elit
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste nam eum architecto provident. Asperiores minus quos sed reprehenderit
      molestias sequi optio delectus eaque in nulla! Voluptas tenetur consequuntur asperiores animi.
    </p>
  </mat-expansion-panel>
</mat-accordion>