<ul class="breadcrumb">
  <li>
    <a routerLink="/" routerLinkActive="active">Inicio</a>
  </li>
  <li>Mi Perfil</li>
  <li class="selected">Mis Limites</li>
</ul>
<ng-container *ngIf="contribuyente">
  <div style="color:#1565C0; font-size: 1.3em">
    <strong>Contribuyente: {{ contribuyente }}</strong>
  </div>
  <hr>
  <br>
</ng-container>
<div *ngFor="let limit of limits">
  <mat-card class="bg-card">
    <div class="row">
      <div class="col-6">
        <strong>{{limit.concept}}</strong>
        <p>#{{limit.code}}</p>
      </div>
      <div class="col-6">
        <mat-progress-bar [matTooltip]="((limit.now * 10) / 100).toString() + '%'" color="primary" matTooltipPosition="left" class="bar-progress" mode="determinate" [value]="(limit.now * 10) / 100"></mat-progress-bar>
        <p class="text-center">
          <br> {{limit.now | currency:'USD':'symbol':'2.2-4'}} / {{limit.limit | currency:'USD':'symbol':'2.2-4'}}
        </p>
      </div>
    </div>
  </mat-card>
  <br>
</div>
<!-- <mat-accordion>
  <mat-expansion-panel *ngFor="let limit of limits">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>{{limit.concept}}</strong>
      </mat-panel-title>
      <mat-panel-description>
        {{limit.limit | currency:'USD':'symbol':'2.2-4'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="text-justify">
      {{limit.code + ' -- ' + limit.concept}}
    </p>
    <div class="row">
      <div class="col-2 remove-padding">
        <span class="float-right">
          <strong>$0.00</strong>
        </span>
      </div>
      <div class="col-6 remove-padding">
        <mat-progress-bar matTooltip="40%" color="primary" matTooltipPosition="right" class="bar-progress" mode="determinate" value="40"></mat-progress-bar>
        <p class="text-center">
          <br> $400,000 / {{limit.limit | currency:'USD':'symbol':'2.2-4'}}
        </p>
      </div>
      <div class="col-2 remove-padding">
        <span class="text-right">
          <strong>{{limit.limit | currency:'USD':'symbol':'2.2-4'}}</strong>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-2 remove-padding">
        <span class="float-right">
          <strong>$0.00</strong>
        </span>
      </div>
      <div class="col-6 remove-padding">
        <mat-progress-bar matTooltip="50%" color="accent" matTooltipPosition="right" class="bar-progress status-yellow" mode="determinate"
          value="50"></mat-progress-bar>
        <p class="text-center">
          <br> $1,000,000 / {{limit.limit | currency:'USD':'symbol':'2.2-4'}}
        </p>
      </div>
      <div class="col-2 remove-padding">
        <span class="text-right">
          <strong>{{limit.limit | currency:'USD':'symbol':'2.2-4'}}</strong>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-2 remove-padding">
        <span class="float-right">
          <strong>$0.00</strong>
        </span>
      </div>
      <div class="col-6 remove-padding">
        <mat-progress-bar matTooltip="80%" matTooltipPosition="right" class="bar-progress" mode="determinate" value="80" color="warn"></mat-progress-bar>
        <p class="text-center">
          <br> $1,600,000 / {{limit.limit | currency:'USD':'symbol':'2.2-4'}}
        </p>
      </div>
      <div class="col-2 remove-padding">
        <span class="text-right">
          <strong>{{limit.limit | currency:'USD':'symbol':'2.2-4'}}</strong>
        </span>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion> -->