<section class="showMessage-catalog">
  <header class="header">
    <h3 class="title">
      {{ title }}</h3>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <div class="body">
    <div class="container">
      <form [formGroup]="obligationForm">
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <mat-select required [disabled]="readonly" placeholder="Tipo" [(ngModel)]="obligation.type" [formControl]="obligationForm.controls['type']">
                <mat-option value="Plazos">
                  Plazos
                </mat-option>
                <mat-option value="Informativas">
                  Informativas
                </mat-option>
                <mat-option value="Montos">
                  Montos
                </mat-option>
              </mat-select>
              <mat-error *ngIf="obligationForm.controls['type'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field>
              <input required [readonly]="readonly" [formControl]="obligationForm.controls['name']" [(ngModel)]="obligation.name" matInput placeholder="Nombre">
              <mat-error *ngIf="obligationForm.controls['name'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field>
              <textarea required matInput [readonly]="readonly" [formControl]="obligationForm.controls['description']" [(ngModel)]="obligation.description"
                matInput placeholder="Descripción" rows="6">
              </textarea>
              <mat-error *ngIf="obligationForm.controls['description'].hasError('required')">
                Campo
                <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>

  <footer class="footer">
    <ng-container *ngIf="readonly; else noReadonly">
      <button mat-raised-button color="primary" (click)="onClose()">
        Aceptar
      </button>
    </ng-container>
    <ng-template #noReadonly>
      <button mat-raised-button (click)="onClose()">
        Cancelar
      </button>
      <button mat-raised-button color="primary" [disabled]="!obligationForm.valid" (click)="onSave()">
        Guardar
      </button>
    </ng-template>
  </footer>
</section>