<section class="showMessage-catalog">
  <header class="header">
    <h3 class="title">
      {{ title }}</h3>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <div class="body">
    <div class="container">
      <form [formGroup]="obligationForm">
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <mat-icon matPrefix>note</mat-icon>
              <mat-select [disabled]="readonly" required placeholder="Tipo" [(ngModel)]="obligation.type" formControlName="type">
                <mat-option value="Plazos">
                  Plazos
                </mat-option>
                <mat-option value="Informativas">
                  Informativas
                </mat-option>
                <mat-option value="Montos">
                  Montos
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12">
              <mat-form-field>
                <mat-icon matPrefix>comment</mat-icon>
                <input [readonly]="readonly" required formControlName="name" [(ngModel)]="obligation.name" matInput placeholder="Nombre">
              </mat-form-field>
            </div>
          <div class="col-12">
            <mat-form-field>
              <mat-icon matPrefix>comment</mat-icon>
              <textarea [readonly]="readonly" required formControlName="description" [(ngModel)]="obligation.description" matInput placeholder="Descripción"
                rows="6"></textarea>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>

  <footer class="footer">
    <ng-container *ngIf="readonly; else noReadonly">
      <button mat-raised-button color="primary" (click)="onClose()">
        Aceptar
      </button>
    </ng-container>
    <ng-template #noReadonly>
      <button mat-raised-button (click)="onClose()">
        Cancelar
      </button>
      <button mat-raised-button color="primary" [disabled]="!obligationForm.valid" (click)="onSave()">
        Guardar
      </button>
    </ng-template>
  </footer>
</section>